body{
    margin-right: 150px;
    margin-left: 150px;
	background-color:#f4f4f4;
	
	

}
header{
  background:#354242a;
}


logo{
    background-color: white;
}

nav{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 150px;
}

.Tab{
	
	background-color:;
    font-size: 18pts;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 150px;
}
h1{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 150px;
 }

h2{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 150px;
}

.img{
	margin-right:50px;
	margin-left:150px;
}
ul{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 150px;
  margin-left: 150px;

}

ol{
    
    margin-left: 150px;
    margin-right: 150px;
}

footer{
	margin-top: 200px;
	margin-bottom: 50px;	
	

}
.container {
  margin: 50px auto;
  width: 450px;
  height: 336px;
  overflow: hidden;
  border: 10px solid;
  border-top-color: #0000ff;
  border-left-color: #0000ff;
  border-bottom-color: #0000ff;
  border-right-color: #0000ff;
  position: relative;
}
.photo {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
}

@keyframes round {
  25% {
    opacity: 1;
      }
  40% {
    opacity: 0;
      }
}
-webkit-@keyframes round {
  25% {
    opacity: 1;
    -webkit-opacity: 1;
      }
  40% {
    opacity: 0;
    -webkit-opacity: 0;
      }
}

img:nth-child(1) {
  animation-delay: 16s;
                 }
 
img:nth-child(2) {
  animation-delay: 14s;
                 }
 
img:nth-child(3) {
  animation-delay: 12s;
                 }
 
img:nth-child(4) {
  animation-delay: 10s;
  
                 }
 
img:nth-child(5) {
  animation-delay: 8s;
                }  

img:nth-child(6) {
  animation-delay: 4s;
                 }

